<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/js/burgeur.js"></script>
</head>
<body>
    <header>
        <div class="contained-header">
                <div class="contain-menu">
                    <span class="cross">
                        <i class="fa-solid fa-xmark "></i>
                    </span>
                    <span class="menu">
                        <i class="fa-solid fa-bars "></i>
                    </span>
                </div>
                    <h1 class="site-title">
                        PaperLand
                    </h1>
        </div>
            
 
            <nav class="containMenu">
            <!-- Navigation Links can go here -->
            <a href="/">Accueil</a>
            <a href="/usine">L’usine</a>
            <a href="/bag">Nos sacs</a>
            <a href="/impression">Les impressions</a>
            <a href="">Contact</a>
        </nav>
    </header>
    
    <main>