
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
header{
    background-color: #eae2cd;
}
p , .banner-usine-container h2 , .contain-text-banner-bag-plat h3,.contain-banner-text-3 h3 , .bg-impression  h2 , .container-card-print  a , .contain-size-section h2{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}
.banner-usine-container h2 {
    font-size: 1em;
}
.site-title{
    font-size: 2em;
    margin: auto;
    text-align: center;
    /*margin-left: 1em; /*permet de gerer la postion du titre paperLand*/
    font-family: "Alice", serif;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
}
.site-title a {
    text-decoration: none;
    color: #000;
}
header nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: .5em;
    font-size: 1.5em; /* gere la taille du menu*/
}
.contained-header{
    display: flex;
    align-items: center;
}
.containMenu , .cross{
    display: none;
}
.containMenu{
    margin-left: 1em;
    margin-top: -.5em;
}

.menu , .cross  {
    font-size: 1.8em; /*permet de gerer la taille du menu burgueur et la croix */
    color: black;
    font-weight: 100;
}
.contain-menu {
    padding: 1.5em;
}


.landing-presentation-section{
    text-align: center;

}
.landing-presentation-section h2{
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
}

.landing-banner{
    background-image: url('../img/landing-banner.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 210px;
}
.text-landing-banner {
    text-align: center;
    margin: auto;
    transform: translateY(250%);
    letter-spacing: .5vw;
    font-size: 1em;
    
}

.text-landing-banner p{
    font-size: 1em;
    margin-top: .6em;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    font-weight: bolder;
}
.text-landing-banner a {
    color: #000;

}
.under-landing-page-text{
    width: 95%;
    padding: .9em;
    margin: auto;
    margin-bottom: .3em;
}
.under-landing-page-text p {
    text-align: center;
    margin: auto;
    font-size: .99em;
    line-height: 2em;
    margin: auto;
    text-align: center;
    word-spacing: .5em;
}
.landing-impression-section{
    background-image: url(../img/bg-landing-page.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.landing-impression-section img {
    width:  40%;
    margin-bottom: 1em;
    margin-left: 1em;
}

.contain-text-landing-page{
    width: 80%;
    padding: 1em;
    margin-right: 1em;
}
.contain-text-landing-page p {
    margin-left: 1em;
    margin-bottom: 1.5em;
    word-spacing: .3em;
    font-size: .79em;
}
.impressions-type-btn{
    background-color: #eae2cd;
    text-align: center;
    padding: .4em;
    border-radius: 20px;
    font-size: 1em;
}
.impressions-type-btn a {
    font-size: .8em;
    color: black;
}

.banner-usine-container > * {
margin: 1em 0;
}
.banner-usine-container h2{
    margin-left:1.5em ;
}

.banner-usine-container p {
    text-align: center;
    width: 100%;
    margin: 1em auto;
    font-size: .9em;
}
.text-bag-banner a {
    color: #000;
}
/* .banner-container{
    background-image: url(../img/bag-banner.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 25vh
} */
.bag-plat-bg-3{
    background-image: url('../img/Image_paper_land_Categorie_3.png');
    background-position: center ; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */
    height: 25vh;
    width: 100%;
}
.container-bg-banner-bag-plat{
    background-image: url('../img/Image_paper_land_Categorie_2.jpg');
    background-position: center ; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 20vh;
    width: 100%;
}
.banner-container{
    background-image: url('../img/bag-banner_3.png');
    background-position: center ; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 25vh;
    width: 100%;
}
.text-bag-banner{
    text-align: center;
    margin: auto;
    /* padding-top: 49%; permet de gerer la hauteur du texte de la banniere de la landing page galere a gerer selon la taille d'ecran */
    letter-spacing: .5vw;
    transform: translateY(500%);
}
.text-bag-banner h3 {
    font-size: .7em;
}
.text-bag-banner p {
    font-size: .6em;
}

.contain-text-bag-page{
    font-size: .7em;
    text-align: center;
    margin:1em;
}
/* .container-bg-banner-bag-plat{
    background-image: url(../img/Image_paper_land_Categorie_.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 22vh;
} */
.bag-btn{
    background-color: #eae2cd;
    text-align: center;
    padding: .8em;
    width: 70%;
    margin-left:.5em ;
    border-radius: 20px;
    font-size: 0.8em;
}
.bag-btn a {
    text-decoration: none;
    color: #000;
}
.contain-text-banner-bag-plat{
    width: 80%;
    text-align: center;
    margin: auto;
    transform: translateY(170%);
    letter-spacing: .5vw;
}
.contain-text-banner-bag-plat h3 {
    font-size: .8em;
    text-align: left;
    margin-bottom: .5em; 
    text-transform: uppercase;
    margin-left: 4em;
}
/* .bag-plat-bg-3{
    background-image: url(../img/bg-section-3.png);
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    height: 22.8vh;
} */
.contain-banner-text-3{
    width: 80%;
    text-align: center;
    margin: auto;
    transform: translateY(170%);
    letter-spacing: .5vw;
}
.contain-banner-text-3 h3{
    font-size: .8em;
    text-align: center;
    margin-bottom: .5em;
    text-transform: uppercase;
}
.bag-btn-3{
    margin-left: 7em;
    background-color: #eae2cd;
    text-align: center;
    padding: .8em;
    width: 70%;
    border-radius: 20px;
    font-size: 0.8em;
}
.bag-btn-3 a {
    text-decoration: none;
    color:#000
}
.contain-data-footer{
    display: none;
    padding: 1em;
    margin-top: -3em;

}
.contain-data-footer > *{
    margin: 1em;
}
.contain-data-footer a {
    color: black;
}
.contain-contact-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 2em;
}
.contain-contact-footer h3{
    font-weight: normal;
}
.site-footer{
    font-size: 1.2em;
    text-align: center;
    margin: 1em;
}
.moins{
    display: none;
}
.border{
    border-top: 1px solid #d4d2d2;
}

.bg-impression{
    background-image: url('../img/bg-banner-impression-page.png');
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-impression img{
    height: 25vh;
}
.bg-impression  h2 {
    text-transform: uppercase;
    font-size: .75em;
    font-weight: bold;
}
.bg-impression p {
    font-size: .7em; 
    padding: 1em;
}

.impressions-type-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}
.container-card-print{
    width: 40%;   
    margin-bottom: 1em;
}
.container-card-print img {
    border-radius: 1em;
    height: 17vh;
    width: 55vw;
}
.container-card-print  a {color: black;}
.intersection-container p{
    font-size: .8em;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 1em;
}
.intersection-container {
    width: fit-content;
    margin: auto; 

}

.modal{
z-index: 998;
backdrop-filter: blur(2px);
position: absolute;
width: 100%;
height: 150%;
-webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
display: none;
}
.contained-modal{
    z-index: 999;
    width:70%;
    height: 20vh;
    background-color: #eae2cd;
    border-radius: 1em;
    margin: auto;
    /* margin-top: 70%; */
}
.contained-modal > *{
    padding: 1em;
}
.contained-modal p {
    font-size: 0.7em;
}
.close-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.contain-size-section h2{
    margin: .8em .5em;
    text-transform: uppercase;
    font-size: 1em;
}
.size-guide{
    text-align: center;
}
.size , .size_title{
    padding: .5em;
    border: #c1a485 solid 1px;
    width: 70%;
    margin: auto;
}
.size_title{
    margin-top: 1em;
}
.size-guide p {
    margin: 1em;
}
.size {
    background-color: #e5d6c5;
}
.size_title{
    background-color: #eae2cd;
}
.impressions_type{
    width: 80%;
    margin: auto;
    margin-top: 1em;
}
.impressions_type h3 {
    margin-bottom: .9em;
}
.impressions_type p {
    font-size: .8em;
}
.bolder{
    font-weight: bold ;
}
.impressions_type p {
    margin-bottom: 1em;
}



@media only screen and (min-width: 600px) {
    
    .text-bag-banner{
        font-size: 1.9em;
        transform: translateY(450%);
    }
    
    .contain-text-bag-page{
        font-size: 1.2em;
    }
    
    .contain-text-banner-bag-plat{
        transform: translateY(200%);
        margin-right: 7em;
    }
    .contain-banner-text-3 h3 {
        margin-left: 3em;
    }
    .contain-banner-text-3{
        margin-left: 9em;
        transform: translateY(200%);
    }
}
@media screen and (min-width: 768px) {
    
    .contain-text-bag-page{
        font-size: 1.5em;
    }
    .bag-plat-section{
        margin-bottom: 1em;
    }
    .text-bag-banner {
        transform: translateY(370%);
        font-size: 2em;
    }
    .contain-text-banner-bag-plat{
        transform: translateY(100%);
    }
    .contain-text-banner-bag-plat h3{
        font-size: 1em;
        
    }
    .contain-banner-text-3{
        transform: translateY(200%);
        margin-left: 13em;
    }
    .contain-banner-text-3 h3{
        font-size: 1em;
    }
    .bag-btn-3{
        width: 70%;
    }
}

@media only screen and (min-width: 992px){
    .text-bag-banner{
        font-size: 2.5em;
        transform: translateY(600%);
        letter-spacing: .2em;
        word-spacing: .2em;
    }
    .contain-banner-text-3{
        margin-right: 50em;
        transform: translateY(50%);
        text-align: center;
    }
    .contain-text-bag-page{
        font-size:1.3em;
        background-color:#eae2cd;
        margin: auto  ;
        width: 100%;
    }
    .contain-text-bag-page p {
        width: 75%;
        font-size: 1.5em;
        line-height: 1.5em;
        letter-spacing: .2em;
        word-spacing: .2em;
        text-align: center;
        margin: auto;
        padding: 1em;
    }
    .contain-text-banner-bag-plat{

        transform: translateY(40%);
        margin-right: 70em;
    }
    .contain-banner-text-3 h3{
        margin-left:3em ;
    }
    .contain-text-banner-bag-plat h3 {
        margin-right: 1.5em;
    }
    .contain-text-banner-bag-plat h3 , .contain-banner-text-3 h3{
        text-align: center;
        font-size: 2em;
        letter-spacing: .5em;
        word-spacing: .5em;
        font-weight: bold;
        width: 100%;
        margin: auto;
    }
.bag-btn , .bag-btn-3{
        width: 70%;
        font-size: 1.5em;
        margin: 1em auto ;
        padding: 2.5em;
        border-radius: 1em;
    }
    .landing-banner{
        background-image: url('../img/desktop_banner_landing_page.jpg');
        background-position: center ; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: 100% 105%; /* Resize the background image to cover the entire container */
        height: 70vh;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contain-menu{
        display: none;
    }
    .containMenu{
        display: flex;
        justify-content: space-evenly;
    }
    .site-title{
        text-align: left;
        margin: 1em; 
        display: inline;
    }
.impressions-type {
    width: 100%;
    }
.impressions_type h3 {
    text-align: center;
}
.contain-size-section h2{
    font-size: 2em;
    margin-left:2em ;
}
.impressions_type div{
    width: 40%;
    font-size: 1.5em;
    margin: auto;
}
.contain-size-section img{
    width: 100%;
    height: 65vh;
}
.banner-usine-container img {
    height: 55vh;
}
.text-landing-banner{
    padding-top: 9vh;
}
.impressions-type-container{
    justify-content: center;
    margin: auto;
    flex-wrap: nowrap;
    text-align: center;
}
.container-card-print {
    margin-bottom: 2em;
}
.container-card-print img{
    width: 85%;
    height: 50vh;
    margin: auto;
}
.container-card-print a , .container-card-print p {
    margin: 1em;
}
.intersection-container p {
    font-size: 2em;
    margin: 2em;
}

.bg-impression{
    justify-content: center;
}
.bg-impression img {
    height: 35vh;
}
.bg-impression p {
    font-size: 2em;
}
.bg-impression  h2 {
    font-size: 2.5em;
}
.banner-container{
    height: 52.5vh;
}
.bag-plat-bg-3{
    height: 48vh;
}
.container-bg-banner-bag-plat{
    margin-bottom: 1em;
    height: 50vh;
}
.banner-usine-container h2{
    font-size: 2em;
}
    .banner-usine-container img{
        width: 100%;
    }
    .banner-usine-container p {
        text-align: left;
        margin-left: 2em;
        font-size: 1.6em;
        width: 50%;
        line-height: 1.8em;
        margin-bottom: 2em;
    }
    .landing-banner-header{
        position: absolute;
        transform: translateX(30%);
        transform: translateY(100%);
        font-size: 1.5rem;
        font-style: italic;

    }
    .landing-banner-header p {
        margin-top: 1em;
        margin-left: 4em;
    }
    .text-landing-banner{
        transform: translateY(550%);
        font-size: 2em;
        padding: 0;
    }
    .text-landing-banner p {
        font-style: normal;
    }
    .landing-impression-section{
        height: 40vh;
    }
    .impressions-type-btn{
        width: 70%;
        margin: auto;
        font-size: 1.5em;
        letter-spacing: .3em;
    }
    
    .contain-text-landing-page p {
        font-size: 1.5em;
        line-height: 1.5em;
        text-align: center;
    }
    .under-landing-page-text p{
        font-size:2em;
        letter-spacing: .1em;
        word-spacing: .6em;
    }
    .contain-text-landing-page{
        margin-right: 2em;
        font-size: 1.6em;
    }
    .landing-impression-section img {
    width: 45%;
    margin-left: 11em;
    }
    
    .landing-impression-section{
        align-items: center;
        height: fit-content;
    }
    .contained-modal p {
        font-size: 1em;
    }
}
@media screen and (min-width: 1200px) {
.text-bag-banner{
    transform: translateY(200%);
}
}