
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
header{
    background-color: #eae2cd;
}
p , .banner-usine-container h2 , .contain-text-banner-bag-plat h3,.contain-banner-text-3 h3 , .bg-impression  h2 , .container-card-print  a , .contain-size-section h2 , .landing-banner-header h3 , .containMenu{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}
.banner-usine-container h2 {
    font-size: 1em;
}
.site-title{
    font-size: 2em;
    margin: auto;
    text-align: center;
    /*margin-left: 1em; /*permet de gerer la postion du titre paperLand*/
    font-family: "Alice", serif;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
}
.site-title a {
    text-decoration: none;
    color: #000;
}
header nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: .5em;
    font-size: 1.5em; /* gere la taille du menu*/
}
.contained-header{
    display: flex;
    align-items: center;
}
.containMenu , .cross{
    display: none;
}
.containMenu{
    margin-left: 1em;
    margin-top: -.5em;
}

.menu , .cross  {
    font-size: 1.8em; /*permet de gerer la taille du menu burgueur et la croix */
    color: black;
    font-weight: 100;
}
.contain-menu {
    padding: 1.5em;
}
.text-bag-banner , .container-bg-banner-bag-plat , .bag-plat-bg-3 , .contain-banner-landing-page{
    position: relative;
    display: inline-block;
}
.contain-title-luxe-section{
    width: 100%;
    position: absolute; /* Place le texte au-dessus de l'image */
    top: 85%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Centre parfaitement au milieu de l'image */
    padding: 20px; /* Espacement autour du texte */
    text-align: center;
    font-size: .8em;
}
.contain-title-luxe-section  h3{
    font-size: 1em;
}
.text-landing-banner{
    width: 100%;
    position: absolute; /* Place le texte au-dessus de l'image */
    top: 90%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Centre parfaitement au milieu de l'image */
    padding: 20px; /* Espacement autour du texte */
    text-align: center;
    font-size: .9em;
}
.text-landing-banner a {
    color: #000;
}
.landing-banner-header > *{
    margin: 1em;
    letter-spacing: .2em;
}

.contain-text-torsade-section{
    position: absolute;
    top: 10%;
    left: 5%;
}
.contain-text-torsade-section , .contain-banner-text-3{
    font-size: .9em;
    text-align: center;
}
.contain-text-torsade-section h3 , .contain-banner-text-3 h3 {
    margin-bottom: .3em;
}
.contain-banner-text-3{
    position: absolute;
    top:60%;
    right: 10%;
}
.bag-btn{
    background-color: #eae2cd;
    padding: 1em;
    border-radius: 1em;
    width: fit-content;
}
.bag-btn a {
    color: #000;
    letter-spacing: .2em;
    font-size: 1.4em;
}
.landing-presentation-section{
    text-align: center;

}
.landing-presentation-section h2{
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
}




.under-landing-page-text{
    width: 95%;
    padding: .9em;
    margin: auto;
    margin-bottom: .3em;
}
.under-landing-page-text p {
    text-align: center;
    margin: auto;
    font-size: .99em;
    line-height: 2em;
    margin: auto;
    text-align: center;
    word-spacing: .5em;
}
.landing-impression-section{
    background-image: url(../img/bg-landing-page.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.landing-impression-section img {
    padding: 1em;
    width: 30%;
    margin-bottom: 1em;
    margin-left: 1em;
}

.contain-text-landing-page{
    width: 80%;
    padding: 1em;
}
.contain-text-landing-page p {
    margin-left: 1em;
    margin-bottom: 1.5em;
    word-spacing: .3em;
    font-size: .79em;
}

.contain-text-landing-page > .bag-btn{
    margin:auto;
    font-size: .8em;
    text-align: center;
}

.banner-usine-container > * {
margin: 1em 0;
}
.banner-usine-container h2{
    margin-left:1.5em ;
}

.banner-usine-container p {
    text-align: center;
    width: 100%;
    margin: 1em auto;
    font-size: .9em;
}
.text-bag-banner a {
    color: #000;
}




.contain-text-bag-page{
    font-size: .7em;
    text-align: center;
    margin:1em;
}









.contain-data-footer{
    display: none;
    padding: 1em;
    margin-top: -3em;

}
.contain-data-footer > *{
    margin: 1em;
}
.contain-data-footer a {
    color: black;
}
.contain-contact-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 2em;
}
.contain-contact-footer h3{
    font-weight: normal;
}
.site-footer{
    font-size: 1.2em;
    text-align: center;
    margin: 1em;
}
.moins{
    display: none;
}
.border{
    border-top: 1px solid #d4d2d2;
}

.bg-impression{
    display: flex;
    align-items: center;
    line-height: 1.5em;
    background-image: url(../img/bg-impression.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-impression h2{
    letter-spacing: .5em;
}
.bg-impression img{
    height: 25vh;
}
.bg-impression  h2 {
    text-transform: uppercase;
    font-size: .75em;
    font-weight: bold;
}
.bg-impression p {
    font-size: .7em; 
}


.impressions-type-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}
.container-card-print{
    width: 40%;   
    margin-bottom: 1em;
}
.container-card-print img {
    border-radius: 1em;
    height: 17vh;
    width: 55vw;
}
.container-card-print  a {color: black;}
.intersection-container p{
    font-size: .8em;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 1em;
}
.intersection-container {
    width: fit-content;
    margin: auto; 

}

.modal{
z-index: 998;
backdrop-filter: blur(2px);
position: absolute;
width: 100%;
height: 150%;
-webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
display: none;
}
.contained-modal{
    z-index: 999;
    width:70%;
    height: 20vh;
    background-color: #eae2cd;
    border-radius: 1em;
    margin: auto;
    /* margin-top: 70%; */
}
.contained-modal > *{
    padding: 1em;
}

.contained-modal p {
    font-size: 0.7em;
}
.close-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.contain-size-section h2{
    margin: .8em .5em;
    text-transform: uppercase;
    font-size: 1em;
}
.size-guide{
    text-align: center;
}
.size , .size_title{
    padding: .5em;
    border: #c1a485 solid 1px;
    width: 70%;
    margin: auto;
}
.size_title{
    margin-top: 1em;
}
.size-guide p {
    margin: 1em;
}
.size {
    background-color: #e5d6c5;
}
.size_title{
    background-color: #eae2cd;
}
.impressions_type{
    width: 80%;
    margin: auto;
    margin-top: 1em;
}
.impressions_type h3 {
    margin-bottom: .9em;
}
.impressions_type p {
    font-size: .8em;
}
.bolder{
    font-weight: bold ;
}
.impressions_type p {
    margin-bottom: 1em;
}



@media only screen and (min-width: 600px) {
    .size-guide{
        font-size: 1.2em;
    }
    .section-impression-type{
        text-align: center;
        font-size: 1.3em;
    }
    .contain-size-section h2{
        margin-left: 1.5em;
    }
    .contain-size-section{
        font-size: 1.5em;
    }
    .site-title{
        margin-left: .6em;
        
    } 
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* padding: 1em; */
    }
    .containMenu a {
        text-decoration: underline;
        font-size: 1.3em;
    }
.contain-menu{
    display: none;
}
.containMenu{
    display: flex;
    font-size: .7em;
    justify-content: center;
    margin-top: .4em;
}
    .landing-banner-header{
        width: 70%;
        position: absolute; /* Place le texte au-dessus de l'image */
        top: 20%; /* Centre verticalement */
        left: 30%; /* Centre horizontalement */
        transform: translate(-50%, -50%); /* Centre parfaitement au milieu de l'image */
        padding: 20px; /* Espacement autour du texte */
        text-align: center;
        font-size: .9em;
    }
    .landing-banner-header p {
        display: none;
    }
    .contain-text-bag-page{
        font-size: 1.2em;
    }
    .contain-title-luxe-section , .text-landing-banner{
        font-size: 1.5em;
    }
    .contain-title-luxe-section{
        top: 90%;
    }
    .contain-text-torsade-section , .contain-banner-text-3{
        font-size: 1.2em;
    }
    .landing-impression-section{
        height: fit-content;
    }
    .landing-impression-section img {
        padding: 2em;
        width: 25%;
    }
    .contain-text-landing-page p{
        font-size: 1em;
        padding: 1em;
        margin: auto;
        letter-spacing: .2em;
        line-height: 1.5em;
    }
    .contain-text-landing-page > .bag-btn{
        text-align: center;
        width: 80%;
        margin-left: 1em;
    }
}
@media screen and (min-width: 768px) {
    .footer-desktop{
        border-top:1px solid #d4d2d2 ;
    }
    .border-left-footer{
    width: 25%;
    }
    .border-right-footer{
        border-right:#d4d2d2 solid 1px ;
        border-left:#d4d2d2 solid 1px ;
        width: 25%;
    }
    .plus{
        display: none;
    }
    .border{
        display: none;
    }
    .footer-desktop{
        display: flex;
        justify-content: center;
    }
    .contain-data-footer{
        display: block;
    }
    .site-footer{
        font-size:2em;
    }
    .containMenu a {
        font-size: 1.5em;
    }
.contain-impression-content{
    width: 60%;
}
.contain-impression-content h2{
    font-size: 1.2em;
}
.contain-impression-content p {
    font-size: 1.1em;
    padding: 1.3em;
}
.intersection-container{
    font-size: 1.5em;
}
.bg-impression{
    justify-content: center;
}
    .container-card-print{
        width: 20%;
        text-align: center;
    }
    .contain-text-landing-page p{
        line-height: 2em;
        font-size: 1.2em;
    }
    .contain-text-landing-page > .bag-btn{
        text-align: center;
        width: 80%;
        margin-left: 1em;
        font-size: 1.2em;
    }
    .contain-text-bag-page{
        font-size: 1.5em;
    }
    .contain-text-torsade-section , .contain-banner-text-3{
        font-size: 1.5em;
    }
    .landing-banner-header{
        width: 60%;
        font-size: 1em;
    }
}

@media only screen and (min-width: 992px){
    .footer-desktop{
        font-size: 1.3em;
    }
    .contain-size-section img{
        width: 100%;
    }
    .containMenu a {
        font-size: 1.3em;
    }
    .contain-text-banner-bag-plat img , .banner-usine-container img{
        width: 100%;
        margin-bottom: 1em;
    }
    .container-bg-banner-bag-plat{
        display: block;
    }
    .banner-usine-container h2 {
        font-size: 2em;
    }
    .containMenu{
        font-size: 1em;
    }
    .contain-title-luxe-section ,  .text-landing-banner{ 
        font-size: 2em;
    }
    .contain-text-torsade-section , .contain-banner-text-3{
        font-size: 2em;
    } 
}
@media screen and (min-width: 1200px) {
    .under-landing-page-text{
        font-size: 2em;
    }
    .contain-text-landing-page p {
        font-size: 2em;
    }
    .contain-impression-content h2{
        font-size: 1.5em;
    }
    .contain-impression-content p {
        font-size: 1.3em;
    }
    .containMenu , .banner-usine-container p{
        font-size: 1.5em;
    }
.landing-banner-header{
    font-size: 1.2em;
}
}
@media screen and  (min-width: 1400px) {
    .intersection-container p { 
        font-size: 1.5em;
    }
    .bg-impression img{
        width: 20%;
        height: 30vh;
    }
    .container-card-print{
        width: 18%;
    }
    .contain-title-luxe-section ,  .text-landing-banner{
        font-size: 2.5em;
    }
    .contain-text-torsade-section , .contain-banner-text-3{
        font-size: 2.5em;
    }

}  
@media screen and (min-width: 1600px) {
    .contain-text-landing-page{
        width: 60%;
    }
    .bg-impression img{
        width: 20%;
        height: 35vh;
    }
    .landing-banner-header{
        font-size: 1.5em;
    }
    .container-card-print{
        width: 10%;
    }
}