<%- include('./includes/header.ejs') %>
<section class="banner-bag-containner">
    <div class="banner-container">
        <div class="text-bag-banner">
            <h3>SACS LUXES LE REFLET D'UNE MARQUE</h3>
            <p> <a href="/impression">En savoir plus</a></p>
        </div>
    </div>
    <div class="contain-text-bag-page">
        <p>PaperLand vous offre une diversité de tailles pour répondre à tous vos besoins avec des dimensions adaptées à votre image</p>
    </div>
</section>
<section class="bag-plat-section">
    <div class="container-bg-banner-bag-plat">
        <div class="contain-text-banner-bag-plat">
            <h3>sacs à poignées torsadées</h3>
            <div class="bag-btn">
                <a href="/torsade_size">
                    Découvrir les dimensions
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bag-plat-section-3">
    <div class="bag-plat-bg-3">
        <div class="contain-banner-text-3">
            <h3>sacs à poignées plates</h3>
            <div class="bag-btn-3"> <a href="/plate_size"> Découvrir les détails</a></div>
        </div>
    </div>
</section>
<%- include('./includes/footer.ejs') %>