<%- include('./includes/header.ejs') %>
<section class="landing-presentation-section">
    <div class="landing-banner-header">
        <p> Fabriquant de Sacs Papier Depuis 1996 </p>
        <p>Facturation directe usine | Aucun intermédiaire</p>
    </div>
   

    <div class="landing-banner">

        <div class="text-landing-banner">
            <p>Créer des sacs qui vous ressemble</p>
            <p><a href="/bag">Découvrir les catégories</a></p>
        </div>
    </div>
</section>
<section class="under-landing-page-text">
    <p>Explorez parmis vos goûts et vos produits les types d’impressions disponible ainsi que les multiples dimensions disponibles</p>
</section>
<section class="landing-impression-section">
    <img src="../img/bag-landing-page2.png" alt="sac de presentation pour la customisation" class="contain-img-landing-page">
    <div class="contain-text-landing-page">
        <p>Pour PAPERLAND proposer des sacs sur mesure qui reflète votre image est une priorité</p>
        <div class="impressions-type-btn"><a href="/impression">Types d’impressions</a> </div>
    </div>
</section>
<%- include('./includes/footer.ejs') %>
