<%- include('./includes/header.ejs') %>
<section>
    <div class="bg-impression">
            <img src="../img/picture-banner-impression-page.png" alt="personne presentant les impressions">
        <div class="contain-impression-content">
            <h2>créer des sacs uniques</h2>
            <p>Ajouter une dimension de personnalisation sans égal à vos sacs papier avec nos impressions spécifiques. </p>
        </div>
    </div>
</section>
<div class="intersection-container">
    <p>Séléction sur mesure, prenez contact avec nos équipes</p>
</div>
<section class="impressions-type-container">
    <div class="container-card-print">
        <img src="../img/sephora.jpg" alt="demonstration de Flocage" class="img-container">
        <p>Flocage</p>
        <a href="">En savoir plus</a>
    </div>
    <div class="container-card-print">
        <img src="../img/salon.jpg" alt="Demonstration de Dorure à chaud" class="img-container">
        <p>Dorure à chaud</p>
        <a href="">En savoir plus</a>
    </div>
    <div class="container-card-print">
        <img src="../img/chanel.jpg" alt="Demonstration de Vernis" class="img-container">
        <p>Vernis</p>
        <a href="">En savoir plus</a>
    </div>
    <div class="container-card-print">
        <img src="../img/desister.jpg" alt="demonstration d'Embossage" class="img-container">
        <p>Embossage</p>
        <a href="" >En savoir plus</a>
    </div>
    <div class="modal">
        <div class="contained-modal">
         
        </div>
    </div>
</section>
<script src="../js/modal.js"></script>
<%- include('./includes/footer.ejs') %>