<%- include('./includes/header.ejs') %>
<section class="contain-size-section">
    <h2>sacs à poignées plates</h2>
    <img src="../img/size_bag.png" alt="">
</section>
<section class="size-guide">
    <div class="size_title">
        Guide des tailles
    </div>
    <p>Largeur + Soufflet x Hauteur</p>
    <div class="size">
        26+17x29 cm
    </div>
    <div  class="size">
        32+18x33 cm
    </div>
    <div  class="size">
        32+22x33 cm
    </div>
</section>

<section class="impressions_type">
    <h3>Possibilitées d’impressions</h3>
    <div>
        <p>Deux types de papier, Kraft Blanc Lisse ou Kraft Brun Lisse </p>
        <p>La  quantité minimum de commande par format est de <span class="bolder">5000</span>  sacs.</p>
        <p>Impressions recto-verso 1 à 4 couleurs</p>
    </div>
</section>
<%- include('./includes/footer.ejs') %>