<%- include('./includes/header.ejs') %>
<section class="contain-size-section">
    <h2>sacs à poignées torsadées</h2>
    <img src="../img/size_bag.png" alt="banniere d'un vendeur avec 2 client ">
</section>
<section class="size-guide">
    <div class="size_title">
        Guide des tailles
    </div>
    <p>Largeur + Soufflet x Hauteur</p>
    <div class="size">
        24+11x27 cm
    </div>
    <div  class="size">
        24+11x32 cm
    </div>
    <div  class="size">
        26+12x36 cm
    </div>
    <div class="size">
        32+12x41 cm
    </div>
    <div class="size">
        36+12x41 cm
    </div>
    <div class="size">
        32+16x43 cm
    </div>
    <div class="size">
        44,5+14x49 cm
    </div>
</section>

<section class="section-impression-type">
    <div class="impressions_type">
         <h3>Possibilitées d’impressions</h3>
    <div>
        <p>Deux types de papier, Kraft Blanc Lisse ou Kraft Brun Lisse </p>
        <p>Impressions recto-verso de 1 à 4 couleurs</p>
        <p>La  quantité minimum de commande par format est de <span class="bolder">3000</span>  sacs.</p>
        <p>Impressions recto-verso une et deux  couleurs</p>
        <p>A partir de <span class="bolder">5000 sacs</span> , possibilité d’impression jusqu’à  <span class="bolder"> 4 couleurs</span> </p>
    </div>
    </div>
   
</section>
<%- include('./includes/footer.ejs') %>