<%- include('./includes/header.ejs') %>
<section class="banner-usine-container">
    <h2>L’USINE PAPERLAND</h2>
    <img src="../img/banner-usine.png" alt="machine qui tire du papierkraft ">
    <p>Fondée en 1996 en Grèce l’usine c'est rapidement imposée comme l'un des principaux fabricants européens de sacs en papier faits à la main.</p>
    <p>PAPERLAND EUROPE SA compte des installations modernes , avec 50 % de sa production qui est exportée vers le marché européen.</p>
</section>
<section class="banner-usine-container">
    <img src="../img/banner-usine-2.png" alt="machine qui imprime des sacs">
    <p>Avec des objectifs élevées, PAPERLAND investis constamment dans des nouvelles technologies, des ressources humaines et proposes des produits et services couverts par le système de gestion de la qualité certifié ELO TN ISO 9001:2000.</p>
</section>

<%- include('./includes/footer.ejs') %>